@import '../variables.less';

.root {
  min-width: 1280px;
  max-height: 100%;
  overflow: hidden;

  > :last-child {
    height: ~'calc(100vh - @{header-height})';
    position: relative;

    > :first-child {
      position: absolute;
    }

    > :nth-child(2) {
      height: inherit;
      float: left;
      margin-left: @header-height;
    }

    > :nth-child(3) {
      height: 40px;
      overflow: auto;
      background-color: @background-color;
      padding-left: 15px;
      padding-top: 15px;

      > span {
        font-size: 14px;
        font-weight: 400;
        color: #666;
      }
    }

    > :last-child {
      height: calc(~"100% - 40px");
      overflow: auto;
      background-color: @background-color;
    }
  }
}
