@import '../../../components/variables.less';

@spacing: 2 * @padding-vertical + @header-height + 105px;
@spacing2: 2 * @padding-vertical + @header-height + 60px;

.root {
  overflow: hidden;

  > *:first-child {
    float: left;
    width: 400px;

    > *:first-child {
      margin: 10px;
    }

    > *:last-child {
      height: 100%;
      overflow: auto;

      > div:first-child {
        margin: 10px;

        > form {
          width: 220px !important;
        }

        [role='buttons'] {
          width: 120px !important;
        }
      }

      > div:last-child {
        margin: 10px;
        height: calc(~'100vh - @{spacing}');
      }

      > ul:first-child {
        margin: 10px;
        height: calc(~'100vh - @{spacing2}');
      }
    }
  }

  > *:last-child {
    padding-top: 0;
  }
}
