@import '../../../../../../components/variables.less';

.root {
  margin: @padding-vertical @padding-horizontal;
  overflow: hidden;
}

:global(.pld-card) {
  margin: 0;
}

.text {
  margin-bottom: 10px;
}

.previewImage{
  width: 100%;
}
