@import '../../../../components/variables.less';

@margin-left-sub-content: 8px;

.root {
  position: relative;

  > * {
    margin-bottom: 5px;
  }

  > div > :global(.ant-form) {
    margin-left: @margin-left-sub-content;
  }

  :global(.ant-table-wrapper) {
    margin-top: @padding-vertical;
  }

  [role='title'] {
    > [role='toolbar'] {
      display: inline-block;
    }
  }

  > [role='toolbar'] {
    text-align: center;
  }
}
