@import '../../../../components/variables.less';

.root {
  margin: @padding-vertical @padding-horizontal;

  > :last-child {
    overflow: auto;

    > *:not(:last-child) {
      margin-bottom: @padding-vertical;
    }
  }
}
.marginBottomSM{
  margin-bottom: @padding-vertical-sm !important;
}
.marginBottom{
  margin-bottom: @padding-vertical !important;
}
.titleBg > div > div{
  background: white;
}
